{% extends 'base/base.html' %}
{% load static %}
{% block content %}
			<!-- ============================ Dashboard: Dashboard Start ================================== -->
			<section class="gray pt-4">
				<div class="container-fluid">

					<div class="row">

						<div class="col-lg-3 col-md-3">
							<div class="dashboard-navbar">

								<div class="d-user-avater">
									<img src="{% static 'assets/img/user-3.jpg' %}" class="img-fluid avater" alt="">
									<h4>مهرداد محمدی</h4>
									<span>برنامه نویس ارشد</span>
									<div class="elso_syu89">
										<ul>
											<li><a href="#"><i class="ti-facebook"></i></a></li>
											<li><a href="#"><i class="ti-twitter"></i></a></li>
											<li><a href="#"><i class="ti-instagram"></i></a></li>
											<li><a href="#"><i class="ti-linkedin"></i></a></li>
										</ul>
									</div>
									<div class="elso_syu77">
										<div class="one_third"><div class="one_45ic text-warning bg-light-warning"><i class="fas fa-star"></i></div><span>امتیازات</span></div>
										<div class="one_third"><div class="one_45ic text-success bg-light-success"><i class="fas fa-file-invoice"></i></div><span>دوره ها</span></div>
										<div class="one_third"><div class="one_45ic text-purple bg-light-purple"><i class="fas fa-user"></i></div><span>هنرجویان</span></div>
									</div>
								</div>

								<div class="d-navigation">
									<ul id="side-menu">
										<li class="active"><a href="dashboard.html"><i class="fas fa-th"></i>پیشخوان</a></li>
										<li class="dropdown">
											<a href="javascript:void(0);"><i class="fas fa-shopping-basket"></i>دوره های آموزش<span class="ti-angle-left"></span></a>
											<ul class="nav nav-second-level">
												<li><a href="manage-course.html">مدیریت</a></li>
												<li><a href="add-new-course.html">افزودن دوره جدید</a></li>
												<li><a href="course-category.html">دسته بندی دوره</a></li>
												<li><a href="coupons.html">تخفیفات</a></li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="javascript:void(0);"><i class="fas fa-gem"></i>ثبت نام ها<span class="ti-angle-left"></span></a>
											<ul class="nav nav-second-level">
												<li><a href="enroll-history.html">تاریخچه</a></li>
												<li><a href="enroll-student.html">ثبت نام هنرجو</a></li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="javascript:void(0);"><i class="fas fa-archive"></i>گزارشات<span class="ti-angle-left"></span></a>
											<ul class="nav nav-second-level">
												<li><a href="admin-revenue.html">درآمد ادمین</a></li>
												<li><a href="instructor-revenue.html">درآمد مربی</a></li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="javascript:void(0);"><i class="fas fa-user-shield"></i>مدیرها<span class="ti-angle-left"></span></a>
											<ul class="nav nav-second-level">
												<li><a href="manage-admins.html">مدیریت</a></li>
												<li><a href="add-admin.html">افزودن مدیر جدید</a></li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="javascript:void(0);"><i class="fas fa-toolbox"></i>مدرسین<span class="ti-angle-left"></span></a>
											<ul class="nav nav-second-level">
												<li><a href="manage-instructor.html">مدیریت</a></li>
												<li><a href="add-instructor.html">ثبت مدرس جدید</a></li>
												<li><a href="instructor-payout.html">پرداخت های مدرس</a></li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="javascript:void(0);"><i class="fas fa-user"></i>هنرجویان<span class="ti-angle-left"></span></a>
											<ul class="nav nav-second-level">
												<li><a href="manage-students.html">مدیریت</a></li>
												<li><a href="add-students.html">ثبت هنرجو جدید</a></li>
											</ul>
										</li>
										<li><a href="addon-manager.html"><i class="fas fa-layer-group"></i>افزونه ها</a></li>
										<li><a href="themes.html"><i class="fas fa-paint-brush"></i>قالب ها</a></li>
										<li><a href="messages.html"><i class="fas fa-comments"></i>پیام ها</a></li>
										<li><a href="my-profile.html"><i class="fas fa-address-card"></i>پروفایل کاربری</a></li>
										<li class="dropdown">
											<a href="javascript:void(0);"><i class="fas fa-cog"></i>تنظیمات<span class="ti-angle-left"></span></a>
											<ul class="nav nav-second-level">
												<li><a href="website-settings.html">وب سایت</a></li>
												<li><a href="system-settings.html">سئو</a></li>
												<li><a href="payment_settings.html">پرداخت</a></li>
												<li><a href="social-login.html">شبکه های اجتماعی</a></li>
												<li><a href="smtp-setting.html">ایمیل SMTP</a></li>
												<li><a href="dash-about.html">درباره اپلیکیشن</a></li>
											</ul>
										</li>
									</ul>
								</div>

							</div>
						</div>

						<div class="col-lg-9 col-md-9 col-sm-12">

							<!-- Row -->
							<div class="row justify-content-between">
								<div class="col-lg-12 col-md-12 col-sm-12 pb-4">
									<div class="dashboard_wrap d-flex align-items-center justify-content-between">
										<div class="arion">
											<nav class="transparent">
												<ol class="breadcrumb">
													<li class="breadcrumb-item"><a href="#">خانه</a></li>
													<li class="breadcrumb-item active" aria-current="page">حساب کاربری</li>
												</ol>
											</nav>
										</div>
									</div>
								</div>
							</div>
							<!-- /Row -->

							<div class="row">
								<div class="col-xl-7 col-lg-6 col-md-12">
									<div class="dashboard_wrap">

										<div class="row">
											<div class="col-xl-12 col-lg-12 col-md-12 mb-4">
												<h6 class="m-0">اطلاعات فردی</h6>
											</div>
										</div>

										<div class="row justify-content-center">
											<div class="col-xl-12 col-lg-12 col-md-12">
												<form>
													<div class="form-group smalls">
														<label>نام*</label>
														<input type="text" class="form-control" value="علی" />
													</div>
													<div class="form-group smalls">
														<label>نام خانوادگی</label>
														<input type="text" class="form-control" value="حسینی" />
													</div>
													<div class="form-group smalls">
														<label>ایمیل</label>
														<input type="email" class="form-control" value="support@example.com" />
													</div>
													<div class="form-group smalls">
														<label>شماره تماس</label>
														<input type="text" class="form-control" />
													</div>
													<div class="form-group smalls">
														<label>توضیحات کوتاه</label>
														<textarea class="form-control"></textarea>
													</div>
													<div class="form-group smalls">
														<label>بیوگرافی</label>
														<textarea class="form-control summernote"></textarea>
													</div>
													<div class="form-group smalls">
														<label>لینک Facebook</label>
														<input type="text" class="form-control" />
													</div>
													<div class="form-group smalls">
														<label>لینک Twitter</label>
														<input type="text" class="form-control" />
													</div>
													<div class="form-group smalls">
														<label>لینک LinkedIn</label>
														<input type="text" class="form-control" />
													</div>
													<div class="form-group smalls">
														<label>لینک Gplus</label>
														<input type="text" class="form-control" />
													</div>
													<div class="form-group smalls">
														<button class="btn theme-bg text-white" type="button">ذخیره</button>
													</div>
												</form>
											</div>
										</div>

									</div>
								</div>

								<div class="col-xl-5 col-lg-6 col-md-12">
									<div class="dashboard_wrap">

										<div class="row justify-content-center">
											<div class="col-xl-12 col-lg-12 col-md-12">
												<form>
													<div class="form-group smalls">
														<label>رمز عبور فعلی</label>
														<input type="password" class="form-control" />
													</div>
													<div class="form-group smalls">
														<label>رمز عبور جدید</label>
														<input type="password" class="form-control" />
													</div>
													<div class="form-group smalls">
														<label>تایید رمز عبور</label>
														<input type="password" class="form-control" />
													</div>
													<div class="form-group smalls">
														<button class="btn theme-bg text-white" type="button">ذخیره</button>
													</div>
												</form>
											</div>
										</div>

									</div>
								</div>

							</div>


						</div>

					</div>

				</div>
			</section>
			<!-- ============================ Dashboard: Dashboard End ================================== -->

		<!-- ============================ Call To Action ================================== -->
			<section class="theme-bg call_action_wrap-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">

							<div class="call_action_wrap">
								<div class="call_action_wrap-head">
									<h3 class="font-2">آیا سوالی دارید؟</h3>
									<span>ما به شما کمک خواهیم کرد تا شغل و رشد خود را افزایش دهید.</span>
								</div>
								<a href="#" class="btn btn-call_action_wrap">امروز با ما تماس بگیرید</a>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
{% endblock %}