{% extends 'base/base.html' %}
{% load static %}
{% block content %}
			<!-- ============================ Signup Wrap ================================== -->
			<section>
				<div class="container">
					<div class="row justify-content-center">

						<div class="col-xl-7 col-lg-8 col-md-12 col-sm-12">
							<form>
								<div class="crs_log_wrap">
									<div class="crs_log__thumb">
										<img src="{% static 'assets/img/banner-2.jpg' %}" class="img-fluid" alt="" />
									</div>
									<div class="crs_log__caption">
										<div class="rcs_log_123">
											<div class="rcs_ico"><i class="fas fa-user"></i></div>
										</div>

										<div class="rcs_log_124">
											<div class="Lpo09"><h4>ایجاد حساب کاربری</h4></div>
											<div class="form-group row mb-0">
												<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
													<div class="form-group">
														<label>نام/ نام کاربری</label>
														<input type="text" class="form-control" placeholder="نام/ نام کاربری" />
													</div>
												</div>
												<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
													<div class="form-group">
														<label>نام خانوادگی</label>
														<input type="text" class="form-control" placeholder="نام خانوادگی" />
													</div>
												</div>
											</div>
											<div class="form-group">
												<label>ایمیل</label>
												<input type="text" class="form-control" placeholder="support@example.com" />
											</div>
											<div class="form-group">
												<label>رمز عبور</label>
												<input type="text" class="form-control" placeholder="*******" />
											</div>
											<div class="form-group">
												<button type="button" class="btn full-width btn-md theme-bg text-white">ثبت نام</button>
											</div>
										</div>
										<div class="rcs_log_125">
											<span>یا ورود از طریق شبکه های اجتماعی</span>
										</div>
										<div class="rcs_log_126">
											<ul class="social_log_45 row">
												<li class="col-xl-4 col-lg-4 col-md-4 col-4"><a href="javascript:void(0);" class="sl_btn"><i class="ti-facebook text-info"></i>Facebook</a></li>
												<li class="col-xl-4 col-lg-4 col-md-4 col-4"><a href="javascript:void(0);" class="sl_btn"><i class="ti-google text-danger"></i>Google</a></li>
												<li class="col-xl-4 col-lg-4 col-md-4 col-4"><a href="javascript:void(0);" class="sl_btn"><i class="ti-twitter theme-cl"></i>Twitter</a></li>
											</ul>
										</div>
									</div>
									<div class="crs_log__footer d-flex justify-content-between">
										<div class="fhg_45"><p class="musrt">آیا حساب  کاربری دارید؟ <a href="login.html" class="theme-cl">ورود</a></p></div>
										<div class="fhg_45"><p class="musrt"><a href="forgot.html" class="text-danger">آیا رمز عبور خود را فراموش کرده اید؟</a></p></div>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</section>
			<!-- ============================ Signup Wrap ================================== -->
{% endblock %}