{% extends 'base/base.html' %}
{% load static %}
{%  block content %}
            <!-- ============================ Page Title Start================================== -->
			<section class="page-title gray">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">

							<div class="breadcrumbs-wrap">
								<h1 class="breadcrumb-title font-2">درباره ما</h1>
								<nav class="transparent">
									<ol class="breadcrumb p-0">
										<li class="breadcrumb-item"><a href="#">خانه</a></li>
										<li class="breadcrumb-item active theme-cl" aria-current="page">درباره ما</li>
									</ol>
								</nav>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->

			<!-- ============================ About Detail ================================== -->
			<section>
				<div class="container">
					<div class="row align-items-center justify-content-between">
						<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<div class="lmp_caption">
								<h2 class="mb-3 font-2">معرفی بهترین مربیان در شهر شما</h2>
								<p>در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
								<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
									<div class="d-flex align-items-center">
									  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
										<i class="fas fa-check"></i>
									  </div>
									  <h6 class="mb-0 mr-3">دسترسی کاملا مادام العمر</h6>
									</div>
								</div>
								<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
									<div class="d-flex align-items-center">
									  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
										<i class="fas fa-check"></i>
									  </div>
									  <h6 class="mb-0 mr-3">بیش از 20 منبع قابل دانلود</h6>
									</div>
								</div>
								<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
									<div class="d-flex align-items-center">
									  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
										<i class="fas fa-check"></i>
									  </div>
									  <h6 class="mb-0 mr-3">ارائه مدرک معتبر</h6>
									</div>
								</div>
								<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
									<div class="d-flex align-items-center">
									  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
										<i class="fas fa-check"></i>
									  </div>
									  <h6 class="mb-0 mr-3">آزمایشی رایگان 7 روز</h6>
									</div>
								</div>
								<div class="text-right mt-4"><a href="#" class="btn btn-md text-light theme-bg">شروع ثبت نام</a></div>
							</div>
						</div>

						<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
							<div class="lmp_thumb">
								<img src="assets/img/lmp-2.png" class="img-fluid" alt="" />
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ About Detail ================================== -->

			<!-- ============================ partner Start ================================== -->
			<section class="gray">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h3 class="font-2">اخذ نمایندگان <span class="theme-cl">آموزش</span></h3>
								<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">

						<!-- Single Item -->
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="crs_partn">
								<div class="p-3">
									<img src="{% static 'assets/img/lg-1.png' %}" class="img-fluid" alt="" />
								</div>
							</div>
						</div>

						<!-- Single Item -->
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="crs_partn">
								<div class="p-3">
									<img src="{% static 'assets/img/lg-2.png' %}" class="img-fluid" alt="" />
								</div>
							</div>
						</div>

						<!-- Single Item -->
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="crs_partn">
								<div class="p-3">
									<img src="{% static 'assets/img/lg-3.png' %}" class="img-fluid" alt="" />
								</div>
							</div>
						</div>

						<!-- Single Item -->
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="crs_partn">
								<div class="p-3">
									<img src="{% static 'assets/img/lg-4.png' %}" class="img-fluid" alt="" />
								</div>
							</div>
						</div>

						<!-- Single Item -->
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="crs_partn">
								<div class="p-3">
									<img src="{% static 'assets/img/lg-5.png' %}" class="img-fluid" alt="" />
								</div>
							</div>
						</div>

						<!-- Single Item -->
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="crs_partn">
								<div class="p-3">
									<img src="{% static 'assets/img/lg-6.png' %}" class="img-fluid" alt="" />
								</div>
							</div>
						</div>

						<!-- Single Item -->
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="crs_partn">
								<div class="p-3">
									<img src="{% static 'assets/img/lg-7.png' %}" class="img-fluid" alt="" />
								</div>
							</div>
						</div>

						<!-- Single Item -->
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="crs_partn">
								<div class="p-3">
									<img src="{% static 'assets/img/lg-8.png' %}" class="img-fluid" alt="" />
								</div>
							</div>
						</div>

						<!-- Single Item -->
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="crs_partn">
								<div class="p-3">
									<img src="{% static 'assets/img/lg-9.png' %}" class="img-fluid" alt="" />
								</div>
							</div>
						</div>

					</div>

				</div>
			</section>
			<div class="clearfix"></div>
			<!-- ============================ partner End ================================== -->

			<!-- ============================ Students Reviews ================================== -->
			<section>
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h3 class="font-2" >نظرات <span class="theme-cl">دانش آموختگان</span></h3>
								<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-sm-12">

							<div class="reviews-slide space">

								<!-- Single Item -->
								<div class="single_items lios_item">
									<div class="_testimonial_wrios shadow_none border">
										<div class="_testimonial_flex">
											<div class="_testimonial_flex_first">
												<div class="_tsl_flex_thumb">
													<img src="assets/img/user-1.jpg" class="img-fluid" alt="">
												</div>
												<div class="_tsl_flex_capst">
													<h5>کیوان مختاری</h5>
													<div class="_ovr_posts"><span>مدیر عامل</span></div>
													<div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.7</div>
												</div>
											</div>
											<div class="_testimonial_flex_first_last">
												<div class="_tsl_flex_thumb">
													<img src="assets/img/c-1.png" class="img-fluid" alt="">
												</div>
											</div>
										</div>

										<div class="facts-detail">
											<p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
										</div>
									</div>
								</div>

								<!-- Single Item -->
								<div class="single_items lios_item">
									<div class="_testimonial_wrios shadow_none border">
										<div class="_testimonial_flex">
											<div class="_testimonial_flex_first">
												<div class="_tsl_flex_thumb">
													<img src="assets/img/user-2.jpg" class="img-fluid" alt="">
												</div>
												<div class="_tsl_flex_capst">
													<h5>الهام نجفی</h5>
													<div class="_ovr_posts"><span>مدیر عامل اپل</span></div>
													<div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.5</div>
												</div>
											</div>
											<div class="_testimonial_flex_first_last">
												<div class="_tsl_flex_thumb">
													<img src="assets/img/c-2.png" class="img-fluid" alt="">
												</div>
											</div>
										</div>

										<div class="facts-detail">
											<p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
										</div>
									</div>
								</div>

								<!-- Single Item -->
								<div class="single_items lios_item">
									<div class="_testimonial_wrios shadow_none border">
										<div class="_testimonial_flex">
											<div class="_testimonial_flex_first">
												<div class="_tsl_flex_thumb">
													<img src="assets/img/user-3.jpg" class="img-fluid" alt="">
												</div>
												<div class="_tsl_flex_capst">
													<h5>سعید مرادی</h5>
													<div class="_ovr_posts"><span>موسس گوگل</span></div>
													<div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.9</div>
												</div>
											</div>
											<div class="_testimonial_flex_first_last">
												<div class="_tsl_flex_thumb">
													<img src="assets/img/c-3.png" class="img-fluid" alt="">
												</div>
											</div>
										</div>

										<div class="facts-detail">
											<p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
										</div>
									</div>
								</div>

								<!-- Single Item -->
								<div class="single_items lios_item">
									<div class="_testimonial_wrios shadow_none border">
										<div class="_testimonial_flex">
											<div class="_testimonial_flex_first">
												<div class="_tsl_flex_thumb">
													<img src="assets/img/user-4.jpg" class="img-fluid" alt="">
												</div>
												<div class="_tsl_flex_capst">
													<h5>زهرا حسینی</h5>
													<div class="_ovr_posts"><span>مدیر لینکدین</span></div>
													<div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.7</div>
												</div>
											</div>
											<div class="_testimonial_flex_first_last">
												<div class="_tsl_flex_thumb">
													<img src="assets/img/c-4.png" class="img-fluid" alt="">
												</div>
											</div>
										</div>

										<div class="facts-detail">
											<p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
										</div>
									</div>
								</div>

								<!-- Single Item -->
								<div class="single_items lios_item">
									<div class="_testimonial_wrios shadow_none border">
										<div class="_testimonial_flex">
											<div class="_testimonial_flex_first">
												<div class="_tsl_flex_thumb">
													<img src="assets/img/user-5.jpg" class="img-fluid" alt="">
												</div>
												<div class="_tsl_flex_capst">
													<h5>مسعود شریعتی</h5>
													<div class="_ovr_posts"><span>مدیر عامل</span></div>
													<div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.7</div>
												</div>
											</div>
											<div class="_testimonial_flex_first_last">
												<div class="_tsl_flex_thumb">
													<img src="assets/img/c-5.png" class="img-fluid" alt="">
												</div>
											</div>
										</div>

										<div class="facts-detail">
											<p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>

				</div>
			</section>
			<!-- ============================ Students Reviews End ================================== -->

			<!-- ============================ Call To Action ================================== -->
			<section class="theme-bg call_action_wrap-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">

							<div class="call_action_wrap">
								<div class="call_action_wrap-head">
									<h3 class="font-2">آیا سوالی دارید؟</h3>
									<span>ما به شما کمک خواهیم کرد تا شغل و رشد خود را افزایش دهید.</span>
								</div>
								<a href="#" class="btn btn-call_action_wrap">امروز با ما تماس بگیرید</a>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
{% endblock %}