{% extends 'base/base.html' %}
{% load static %}
{%  block content %}
            <!-- ============================ Page Title Start================================== -->
			<section class="page-title gray">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">

							<div class="breadcrumbs-wrap">
								<h1 class="breadcrumb-title font-2">تماس با ما</h1>
								<nav class="transparent">
									<ol class="breadcrumb p-0">
										<li class="breadcrumb-item"><a href="#">خانه</a></li>
										<li class="breadcrumb-item active theme-cl" aria-current="page">تماس با ما</li>
									</ol>
								</nav>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->

			<!-- ============================ Contact Detail ================================== -->
			<section>
				<div class="container">
					<div class="row align-items-start">
						<div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
							<div class="form-group">
								<h4>با ما در ارتباط باشید</h4>
								<span>پیام بفرستید تا حد امکان پاسخگو خواهیم بود... </span>
							</div>
							<div class="row">
								<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
									<div class="form-group">
										<label>نام و نام خانوادگی</label>
										<input type="text" class="form-control" placeholder="نام" />
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
									<div class="form-group">
										<label>پست الکترونیکی</label>
										<input type="text" class="form-control" placeholder="ایمیل" />
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
									<div class="form-group">
										<label>نام شرکت</label>
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
									<div class="form-group">
										<label>شماره تماس</label>
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<label>متن درخواست</label>
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<button class="btn theme-bg text-white btn-md" type="button">ارسال پیام</button>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
							<div class="lmp_caption pr-lg-5">
								<ol class="list-unstyled p-0">
								  <li class="d-flex align-items-start my-3 my-md-4">
									<div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center theme-bg-light">
									  <div class="position-absolute theme-cl h5 mb-0"><i class="fas fa-home"></i></div>
									</div>
									<div class="mr-3 mr-md-4">
									  <h4>آدرس ما</h4>
									  <p>
										ایران، تهران،<br>میدان آزادی، جنب مترو شادمان<br>مجتمع صدف پلاک 8
									  </p>
									</div>
								  </li>
								  <li class="d-flex align-items-start my-3 my-md-4">
									<div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center theme-bg-light">
									  <div class="position-absolute theme-cl h5 mb-0"><i class="fas fa-at"></i></div>
									</div>
									<div class="mr-3 mr-md-4">
									  <h4>پست الکترونیکی</h4>
									  <p>
										support@example.com<br>example@gmail.com
									  </p>
									</div>
								  </li>
								   <li class="d-flex align-items-start my-3 my-md-4">
									<div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center theme-bg-light">
									  <div class="position-absolute theme-cl h5 mb-0"><i class="fas fa-phone-alt rotate-img"></i></div>
									</div>
									<div class="mr-3 mr-md-4">
									  <h4>شماره های تماس</h4>
									  <p>
										(41) 123 521 458<br>+91 235 548 7548
									  </p>
									</div>
								  </li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Contact Detail ================================== -->
{% endblock %}