{% extends 'base/base.html' %}
{% load static %}
{% block content %}

			<!-- ============================ Page Title Start================================== -->
			<section class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">

							<div class="breadcrumbs-wrap">
								<h1 class="breadcrumb-title font-2">نمای شبکه ای نسخه 1</h1>
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb p-0 bg-white">
										<li class="breadcrumb-item"><a href="#">خانه</a></li>
										<li class="breadcrumb-item active theme-cl" aria-current="page">نسخه 1</li>
									</ol>
								</nav>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->

			<!-- ============================ All Cources ================================== -->
			<section class="gray">
				<div class="container">
					<div class="row">

						<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
							<div class="page-sidebar p-0">
								<a class="filter_links" data-toggle="collapse" href="#fltbox" role="button" aria-expanded="false" aria-controls="fltbox">فیلتر پیشرفته<i class="fa fa-sliders-h mr-2"></i></a>
								<div class="collapse" id="fltbox">
									<!-- Find New Property -->
									<div class="sidebar-widgets p-4">

										<div class="form-group">
											<div class="input-with-icon">
												<input type="text" class="form-control" placeholder="نام دوره...">
												<i class="ti-search"></i>
											</div>
										</div>

										<div class="form-group">
											<div class="simple-input">
												<select id="cates" class="form-control">
													<option value="">&nbsp;</option>
													<option value="1">فناوری و اطلاعات</option>
													<option value="2">حسابداری</option>
													<option value="3">شبکه اجتماعی</option>
													<option value="4">طراحی اپلیکیشن</option>
													<option value="5">حسابداری ومالی</option>
												</select>
											</div>
										</div>

										<div class="form-group">
											<h6>مدرسین برتر</h6>
											<ul class="no-ul-list mb-3">
												<li>
													<input id="aa-41" class="checkbox-custom" name="aa-41" type="checkbox">
													<label for="aa-41" class="checkbox-custom-label">مصطفی اسلامی<i class="count">12</i></label>
												</li>
												<li>
													<input id="aa-2" class="checkbox-custom" name="aa-2" type="checkbox">
													<label for="aa-2" class="checkbox-custom-label">نرگس حسینی<i class="count">10</i></label>
												</li>
												<li>
													<input id="aa-3" class="checkbox-custom" name="aa-3" type="checkbox">
													<label for="aa-3" class="checkbox-custom-label">سروش نجفی نژاد<i class="count">56</i></label>
												</li>
												<li>
													<input id="aa-71" class="checkbox-custom" name="aa-71" type="checkbox">
													<label for="aa-71" class="checkbox-custom-label">متین کفاشیان<i class="count">42</i></label>
												</li>
												<li>
													<input id="aa-81" class="checkbox-custom" name="aa-81" type="checkbox">
													<label for="aa-81" class="checkbox-custom-label">نادیا ناصری<i class="count">12</i></label>
												</li>
												<li>
													<input id="aa-91" class="checkbox-custom" name="aa-91" type="checkbox">
													<label for="aa-91" class="checkbox-custom-label">مرضیه قاسمی نیا<i class="count">36</i></label>
												</li>
											</ul>
										</div>

										<div class="form-group">
											<h6>سطح مهارت</h6>
											<ul class="no-ul-list mb-3">
												<li>
													<input id="l1" class="checkbox-custom" name="l1" type="checkbox">
													<label for="l1" class="checkbox-custom-label">ابتدایی</label>
												</li>
												<li>
													<input id="l2" class="checkbox-custom" name="l2" type="checkbox">
													<label for="l2" class="checkbox-custom-label">سطح پایه</label>
												</li>
												<li>
													<input id="l3" class="checkbox-custom" name="l3" type="checkbox">
													<label for="l3" class="checkbox-custom-label">سطح ممدرس</label>
												</li>
												<li>
													<input id="l4" class="checkbox-custom" name="l4" type="checkbox">
													<label for="l4" class="checkbox-custom-label">سطح پیشرفته</label>
												</li>
											</ul>
										</div>

										<div class="form-group">
											<h6>قیمت</h6>
											<ul class="no-ul-list mb-3">
												<li>
													<input id="p1" class="checkbox-custom" name="p1" type="checkbox">
													<label for="p1" class="checkbox-custom-label">همه<i class="count">89</i></label>
												</li>
												<li>
													<input id="p2" class="checkbox-custom" name="p2" type="checkbox">
													<label for="p2" class="checkbox-custom-label">رایگان<i class="count">56</i></label>
												</li>
												<li>
													<input id="p3" class="checkbox-custom" name="p3" type="checkbox">
													<label for="p3" class="checkbox-custom-label">پولی<i class="count">42</i></label>
												</li>
											</ul>
										</div>

										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 pt-4">
												<button class="btn theme-bg rounded full-width">فیلتر</button>
											</div>
										</div>

									</div>
								</div>
							</div>
							<!-- Sidebar End -->

						</div>

						<!-- Content -->
						<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="short_wraping">
										<div class="row m-0 align-items-center justify-content-between">

											<div class="col-lg-4 col-md-5 col-sm-12  col-sm-6">
												<div class="shorting_pagination_laft">
													<h6 class="m-0">نمایش 1-25 از 72</h6>
												</div>
											</div>

											<div class="col-lg-8 col-md-7 col-sm-12 col-sm-6">
												<div class="dlks_152">
													<div class="shorting-right ml-2">
														<label>مرتب سازی براساس:</label>
														<div class="dropdown show">
															<a class="btn btn-filter dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																<span class="selection">امتیاز بالا</span>
															</a>
															<div class="drp-select dropdown-menu">
																<a class="dropdown-item" href="JavaScript:Void(0);">امتیاز بالا</a>
																<a class="dropdown-item" href="JavaScript:Void(0);">بازدید بالا</a>
																<a class="dropdown-item" href="JavaScript:Void(0);">دوره جدید</a>
																<a class="dropdown-item" href="JavaScript:Void(0);">دوره منتخب</a>
															</div>
														</div>
													</div>
													<div class="lmk_485">
														<ul class="shorting_grid">
															<li class="list-inline-item"><a href="grid-layout-with-sidebar.html" class="active"><span class="ti-layout-grid2"></span></a></li>
															<li class="list-inline-item"><a href="list-layout-with-sidebar.html"><span class="ti-view-list"></span></a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row justify-content-center">
								<!-- Single Grid -->
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
									<div class="crs_grid shadow_none brd">
										<div class="crs_grid_thumb">
											<a href="course-detail.html" class="crs_detail_link">
												<img src="assets/img/cr-1.jpg" class="img-fluid rounded" alt="" />
											</a>
											<div class="crs_video_ico">
												<i class="fa fa-play"></i>
											</div>
											<div class="crs_locked_ico">
												<i class="fa fa-lock"></i>
											</div>
										</div>
										<div class="crs_grid_caption">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_cates cl_8"><span>طراحی اپلیکیشن</span></div>
												</div>
												<div class="crs_fl_last">
													<div class="crs_inrolled"><strong>8,350</strong>شرکت کننده</div>
												</div>
											</div>
											<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">آموزش برنامه نویسی‌اندروید</a></h4></div>
											<div class="crs_info_detail">
												<ul>
													<li><i class="fa fa-clock text-danger"></i><span>2ساعت 5دقیقه</span></li>
													<li><i class="fa fa-video text-success"></i><span>67 دوره</span></li>
													<li><i class="fa fa-signal text-warning"></i><span>مقدماتی</span></li>
												</ul>
											</div>
										</div>
										<div class="crs_grid_foot">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_tutor">
														<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/user-6.jpg" class="img-fluid circle" alt="" /></a></div><div class="crs_tutor_name"><a href="instructor-detail.html">مژگان حسینی</a></div>
													</div>
												</div>
												<div class="crs_fl_last">
													<div class="crs_price"><h2><span class="theme-cl">149</span><span class="currency">تومان</span></h2></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Single Grid -->
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
									<div class="crs_grid shadow_none brd">
										<div class="crs_grid_thumb">
											<a href="course-detail.html" class="crs_detail_link">
												<img src="assets/img/cr-2.jpg" class="img-fluid rounded" alt="" />
											</a>
											<div class="crs_video_ico">
												<i class="fa fa-play"></i>
											</div>
											<div class="crs_locked_ico">
												<i class="fa fa-lock"></i>
											</div>
										</div>
										<div class="crs_grid_caption">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_cates cl_1"><span>حسابداری</span></div>
												</div>
												<div class="crs_fl_last">
													<div class="crs_inrolled"><strong>7,150</strong>شرکت کننده</div>
												</div>
											</div>
											<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">دوره حضوری عالی پرورش مدیر مالی</a></h4></div>
											<div class="crs_info_detail">
												<ul>
													<li><i class="fa fa-clock text-danger"></i><span>15 ساعت</span></li>
													<li><i class="fa fa-video text-success"></i><span>22 دوره</span></li>
													<li><i class="fa fa-signal text-warning"></i><span>مقدماتی</span></li>
												</ul>
											</div>
										</div>
										<div class="crs_grid_foot">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_tutor">
														<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/team-5.jpg" class="img-fluid circle" alt="" /></a></div><div class="crs_tutor_name"><a href="instructor-detail.html">مصطفی اسلامی</a></div>
													</div>
												</div>
												<div class="crs_fl_last">
													<div class="crs_price"><h2><span class="theme-cl">99</span><span class="currency">تومان</span></h2></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Single Grid -->
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
									<div class="crs_grid shadow_none brd">
										<div class="crs_grid_thumb">
											<a href="course-detail.html" class="crs_detail_link">
												<img src="assets/img/cr-3.jpg" class="img-fluid rounded" alt="" />
											</a>
											<div class="crs_video_ico">
												<i class="fa fa-play"></i>
											</div>
											<div class="crs_locked_ico">
												<i class="fa fa-lock"></i>
											</div>
										</div>
										<div class="crs_grid_caption">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_cates cl_4"><span>پروژه محور</span></div>
												</div>
												<div class="crs_fl_last">
													<div class="crs_inrolled"><strong>1,250</strong>شرکت کننده</div>
												</div>
											</div>
											<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">آموزش ASP.Net - ساخت سایت شخصی</a></h4></div>
											<div class="crs_info_detail">
												<ul>
													<li><i class="fa fa-clock text-danger"></i><span>52 ساعت</span></li>
													<li><i class="fa fa-video text-success"></i><span>42 دوره</span></li>
													<li><i class="fa fa-signal text-warning"></i><span>مقدماتی</span></li>
												</ul>
											</div>
										</div>
										<div class="crs_grid_foot">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_tutor">
														<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/user-4.jpg" class="img-fluid circle" alt="" /></a></div><div class="crs_tutor_name"><a href="instructor-detail.html">حسین عظیمی</a></div>
													</div>
												</div>
												<div class="crs_fl_last">
													<div class="crs_price"><h2><span class="theme-cl">129</span><span class="currency">تومان</span></h2></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Single Grid -->
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
									<div class="crs_grid shadow_none brd">
										<div class="crs_grid_thumb">
											<a href="course-detail.html" class="crs_detail_link">
												<img src="assets/img/cr-4.jpg" class="img-fluid rounded" alt="" />
											</a>
											<div class="crs_video_ico">
												<i class="fa fa-play"></i>
											</div>
											<div class="crs_locked_ico">
												<i class="fa fa-lock"></i>
											</div>
										</div>
										<div class="crs_grid_caption">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_cates cl_5"><span>نرم افزار</span></div>
												</div>
												<div class="crs_fl_last">
													<div class="crs_inrolled"><strong>8,350</strong>شرکت کننده</div>
												</div>
											</div>
											<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">معرفی و مقایسه زبان های برنامه نویسی</a></h4></div>
											<div class="crs_info_detail">
												<ul>
													<li><i class="fa fa-clock text-danger"></i><span>7ساعت 2دقیقه</span></li>
													<li><i class="fa fa-video text-success"></i><span>61 دوره</span></li>
													<li><i class="fa fa-signal text-warning"></i><span>مقدماتی</span></li>
												</ul>
											</div>
										</div>
										<div class="crs_grid_foot">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_tutor">
														<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/user-3.jpg" class="img-fluid circle" alt="" /></a></div><div class="crs_tutor_name"><a href="instructor-detail.html">احمد سنایی</a></div>
													</div>
												</div>
												<div class="crs_fl_last">
													<div class="crs_price"><h2><span class="theme-cl">49</span><span class="currency">تومان</span></h2></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Single Grid -->
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
									<div class="crs_grid shadow_none brd">
										<div class="crs_grid_thumb">
											<a href="course-detail.html" class="crs_detail_link">
												<img src="assets/img/cr-5.jpg" class="img-fluid rounded" alt="" />
											</a>
											<div class="crs_video_ico">
												<i class="fa fa-play"></i>
											</div>
											<div class="crs_locked_ico">
												<i class="fa fa-lock"></i>
											</div>
										</div>
										<div class="crs_grid_caption">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_cates cl_6"><span>برنامه نویسی</span></div>
												</div>
												<div class="crs_fl_last">
													<div class="crs_inrolled"><strong>3,340</strong>شرکت کننده</div>
												</div>
											</div>
											<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">آموزش ساخت فروشگاه دیجی استایل با لاراول</a></h4></div>
											<div class="crs_info_detail">
												<ul>
													<li><i class="fa fa-clock text-danger"></i><span>2ساعت 5دقیقه</span></li>
													<li><i class="fa fa-video text-success"></i><span>43 دوره</span></li>
													<li><i class="fa fa-signal text-warning"></i><span>مقدماتی</span></li>
												</ul>
											</div>
										</div>
										<div class="crs_grid_foot">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_tutor">
														<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/user-2.jpg" class="img-fluid circle" alt="" /></a></div><div class="crs_tutor_name"><a href="instructor-detail.html">مرضیه علیزاده</a></div>
													</div>
												</div>
												<div class="crs_fl_last">
													<div class="crs_price"><h2><span class="theme-cl">119</span><span class="currency">تومان</span></h2></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Single Grid -->
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
									<div class="crs_grid shadow_none brd">
										<div class="crs_grid_thumb">
											<a href="course-detail.html" class="crs_detail_link">
												<img src="assets/img/cr-6.jpg" class="img-fluid rounded" alt="" />
											</a>
											<div class="crs_video_ico">
												<i class="fa fa-play"></i>
											</div>
											<div class="crs_locked_ico">
												<i class="fa fa-lock"></i>
											</div>
										</div>
										<div class="crs_grid_caption">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_cates cl_7"><span>ریاضیات</span></div>
												</div>
												<div class="crs_fl_last">
													<div class="crs_inrolled"><strong>6,450</strong>شرکت کننده</div>
												</div>
											</div>
											<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">تدریس ریاضی و آمار دهم انسانی</a></h4></div>
											<div class="crs_info_detail">
												<ul>
													<li><i class="fa fa-clock text-danger"></i><span>24 ساعت</span></li>
													<li><i class="fa fa-video text-success"></i><span>57 دوره</span></li>
													<li><i class="fa fa-signal text-warning"></i><span>مقدماتی</span></li>
												</ul>
											</div>
										</div>
										<div class="crs_grid_foot">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_tutor">
														<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/user-1.jpg" class="img-fluid circle" alt="" /></a></div><div class="crs_tutor_name"><a href="instructor-detail.html">مسعود کیانی</a></div>
													</div>
												</div>
												<div class="crs_fl_last">
													<div class="crs_price"><h2><span class="theme-cl">199</span><span class="currency">تومان</span></h2></div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

							<!-- Pagination -->
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<ul class="pagination p-center">
										<li class="page-item">
										  <a class="page-link" href="#" aria-label="Previous">
											<span class="ti-arrow-right"></span>
											<span class="sr-only">قبل</span>
										  </a>
										</li>
										<li class="page-item"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item active"><a class="page-link" href="#">3</a></li>
										<li class="page-item"><a class="page-link" href="#">...</a></li>
										<li class="page-item"><a class="page-link" href="#">18</a></li>
										<li class="page-item">
										  <a class="page-link" href="#" aria-label="Next">
											<span class="ti-arrow-left"></span>
											<span class="sr-only">بعد</span>
										  </a>
										</li>
									</ul>
								</div>
							</div>

						</div>

					</div>
				</div>
			</section>
			<!-- ============================ All Cources ================================== -->

{% endblock %}