{% extends 'base/base.html' %}
{% load static %}
{% block content %}
			<!-- ============================ Page Title Start================================== -->
			<section class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">

							<div class="breadcrumbs-wrap" >
								<nav class="transparent">
									<ol class="breadcrumb p-0">
										<li class="breadcrumb-item"><a href="#">خانه</a></li>
										<li class="breadcrumb-item"><a href="{% url 'blog:post_list' %}">وبلاگ</a></li>
										<li class="breadcrumb-item active theme-cl" aria-current="page">{{ posts.title }}</li>
									</ol>
								</nav>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->

			<!-- ============================ Blog Detail Start ================================== -->
			<section class="gray">

				<div class="container">

					<!-- row Start -->
					<div class="row">

						<!-- Blog Detail -->
						<div class="col-lg-8 col-md-12 col-sm-12 col-12">
							<div class="article_detail_wrapss single_article_wrap format-standard">
								<div class="article_body_wrap">

									<div class="article_featured_image">
										<img class="img-fluid" src="assets/img/b-7.png" alt="">
									</div>

									<div class="article_top_info">
										<ul class="article_middle_info">
											<li><a href="#"><span class="icons"><i class="ti-user"></i></span>{{post.author}}</a></li>
											<li><a href="#"><span class="icons"><i class="ti-comment-alt"></i></span>45 دیدگاه</a></li>
										</ul>
									</div>
									<h3 class="post-title">{{post.title}}</h3>
                                    <p>{{ post.content }}</p>
								</div>
							</div>

							<!-- Author Detail -->
							<div class="article_detail_wrapss single_article_wrap format-standard">

								<div class="article_posts_thumb">
									<span class="img"><img class="img-fluid" src="assets/img/user-1.jpg" alt=""></span>
									<h3 class="pa-name">{{post.author.get_full_name}}</h3>
									<ul class="social-links">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-behance"></i></a></li>
										<li><a href="#"><i class="fab fa-youtube"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
									<p class="pa-text">پیر مردی هر روز تو محله می دید پسر کی با کفش های پاره و پای برهنه با توپ پلاستیکی فوتبال بازی می کند، روزی رفت ی کتانی نو خرید و اومد و به پسرک گفت بیا این کفشا رو بپوش…پسرک کفشا رو پوشید و خوشحال رو به پیر مرد کرد.</p>
								</div>

							</div>

							<!-- Blog Comment -->
							<div class="article_detail_wrapss single_article_wrap format-standard">

								<div class="comment-area">
									<div class="all-comments">
										<h3 class="comments-title">دیدگاه کاربران</h3>
										<div class="comment-list">
											<ul>
												<li class="article_comments_wrap">
													<article>
														<div class="article_comments_thumb">
															<img src="assets/img/user-1.jpg" alt="">
														</div>
														<div class="comment-details">
															<div class="comment-meta">
																<div class="comment-left-meta">
																	<h4 class="author-name">علی مرشدی <span class="selected"><i class="fas fa-bookmark"></i></span></h4>
																	<div class="comment-date">19 آذر 1400</div>
																</div>
																<div class="comment-reply">
																	<a href="#" class="reply"><span class="icona"><i class="ti-back-left"></i></span> پاسخ</a>
																</div>
															</div>
															<div class="comment-text">
																<p>مداد سفید تا صبح ماه کشید مهتاب کشید و انقدر ستاره کشید که کوچک و کوچکتر شد صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…</p>
															</div>
														</div>
													</article>
													<ul class="children">
														<li class="article_comments_wrap">
															<article>
																<div class="article_comments_thumb">
																	<img src="assets/img/user-2.jpg" alt="">
																</div>
																<div class="comment-details">
																	<div class="comment-meta">
																		<div class="comment-left-meta">
																			<h4 class="author-name">مرضیه حسینی</h4>
																			<div class="comment-date">28 مرداد 1400</div>
																		</div>
																		<div class="comment-reply">
																			<a href="#" class="reply"><span class="icons"><i class="ti-back-left"></i></span> پاسخ</a>
																		</div>
																	</div>
																	<div class="comment-text">
																		<p>انقدر ستاره کشید که کوچک و کوچکتر شد صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…</p>
																	</div>
																</div>
															</article>
															<ul class="children">
																<li class="article_comments_wrap">
																	<article>
																		<div class="article_comments_thumb">
																			<img src="assets/img/user-4.jpg" alt="">
																		</div>
																		<div class="comment-details">
																			<div class="comment-meta">
																				<div class="comment-left-meta">
																					<h4 class="author-name">الهام علیزاده</h4>
																					<div class="comment-date">19 مهر 1399</div>
																				</div>
																				<div class="comment-reply">
																					<a href="#" class="reply"><span class="icons"><i class="ti-back-left"></i></span> پاسخ</a>
																				</div>
																			</div>
																			<div class="comment-text">
																				<p>داد سفید تا صبح ماه کشید مهتاب کشید و انقدر ستاره کشید که کوچک و کوچکتر شد صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی پر نشد</p>
																			</div>
																		</div>
																	</article>
																</li>
															</ul>
														</li>
													</ul>
												</li>
												<li class="article_comments_wrap">
													<article>
														<div class="article_comments_thumb">
															<img src="assets/img/user-5.jpg" alt="">
														</div>
														<div class="comment-details">
															<div class="comment-meta">
																<div class="comment-left-meta">
																	<h4 class="author-name">محمد حسنی</h4>
																	<div class="comment-date">20 بهمن 1399</div>
																</div>
																<div class="comment-reply">
																	<a href="#" class="reply"><span class="icons"><i class="ti-back-left"></i></span> پاسخ</a>
																</div>
															</div>
															<div class="comment-text">
																<p>کوچک و کوچکتر شد صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…</p>
															</div>
														</div>
													</article>
												</li>
											</ul>
										</div>
									</div>
									<div class="comment-box submit-form">
										<h3 class="reply-title">ثبت دیدگاه</h3>
										<div class="comment-form">
											<form action="#">
												<div class="row">
													<div class="col-lg-6 col-md-6 col-sm-12">
														<div class="form-group">
															<input type="text" class="form-control" placeholder="نام خود را وارد کنید">
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-12">
														<div class="form-group">
															<input type="text" class="form-control" placeholder="آدرس ایمیل">
														</div>
													</div>
													<div class="col-lg-12 col-md-12 col-sm-12">
														<div class="form-group">
															<textarea name="comment" class="form-control" cols="30" rows="6" placeholder="نظر خود را بنویسید..."></textarea>
														</div>
													</div>
													<div class="col-lg-12 col-md-12 col-sm-12">
														<div class="form-group">
															<a href="#" class="btn theme-bg text-white">ثبت دیدگاه</a>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>

							</div>


						</div>

						<!-- Single blog Grid -->
						<div class="col-lg-4 col-md-12 col-sm-12 col-12">

							<!-- Searchbard -->
							<div class="single_widgets widget_search">
								<h4 class="title">جستجو</h4>
								<form action="#" class="sidebar-search-form">
									<input type="search" name="search" placeholder="عنوان مورد نظر...">
									<button type="submit"><i class="ti-search"></i></button>
								</form>
							</div>

							<!-- Categories -->
							<div class="single_widgets widget_category">
								<h4 class="title">دسته بندی</h4>
								<ul>
									<li><a href="#">سبک زندگی <span>09</span></a></li>
									<li><a href="#">سیر و سفر <span>12</span></a></li>
									<li><a href="#">کسب و کار <span>19</span></a>
									</li><li><a href="#">طراحی سایت <span>17</span></a></li>
									<li><a href="#">موزیک <span>10</span></a></li>
								</ul>
							</div>

							<!-- Trending Posts -->
							<div class="single_widgets widget_thumb_post">
								<h4 class="title">جدیدترین وبلاگ</h4>
								<ul>
									<li>
										<span class="left">
											<img src="assets/img/b-1.png" alt="" class="">
										</span>
										<span class="right">
											<a class="feed-title" href="#">ساخت بکگراند برای اینستاگرام</a>
											<span class="post-date"><i class="ti-calendar"></i>10 دقیقه پیش</span>
										</span>
									</li>
									<li>
										<span class="left">
											<img src="assets/img/b-2.png" alt="" class="">
										</span>
										<span class="right">
											<a class="feed-title" href="#">اعمال بک‌گراند و تنظیم حرکت آن</a>
											<span class="post-date"><i class="ti-calendar"></i>2 ساعت پیش</span>
										</span>
									</li>
									<li>
										<span class="left">
											<img src="assets/img/b-3.png" alt="" class="">
										</span>
										<span class="right">
											<a class="feed-title" href="#">تنظیمات سکانس تایم‌لپس</a>
											<span class="post-date"><i class="ti-calendar"></i>4 ساعت پیش</span>
										</span>
									</li>
									<li>
										<span class="left">
											<img src="assets/img/b-4.png" alt="" class="">
										</span>
										<span class="right">
											<a class="feed-title" href="#">آشنایی کامل با Pinning و درک آن</a>
											<span class="post-date"><i class="ti-calendar"></i>7 ساعت پیش</span>
										</span>
									</li>
									<li>
										<span class="left">
											<img src="assets/img/b-5.png" alt="" class="">
										</span>
										<span class="right">
											<a class="feed-title" href="#">آشنایی با ابزار Guide Template</a>
											<span class="post-date"><i class="ti-calendar"></i>3 روز پیش</span>
										</span>
									</li>
								</ul>
							</div>

							<!-- Tags Cloud -->
							<div class="single_widgets widget_tags">
								<h4 class="title">برچسب</h4>
								<ul>
									<li><a href="#">تخصصی</a></li>
									<li><a href="#">فیزیک</a></li>
									<li><a href="#">دوره رایگان</a></li>
									<li><a href="#">سوالات کنکوری</a></li>
									<li><a href="#">دوره تخصصی</a></li>
								</ul>
							</div>

						</div>

					</div>
					<!-- /row -->

				</div>

			</section>
			<!-- ============================ Blog Detail End ================================== -->
{% endblock %}