{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    			<!-- ============================ Page Title Start================================== -->
{#			<section class="page-title bg-cover" style="background:url({% static 'assets/img/banner-3.jpg' %})no-repeat;" data-overlay="8">#}
{#				<div class="container">#}
{#					<div class="row">#}
{#						<div class="col-lg-12 col-md-12">#}
{##}
{#							<div class="breadcrumbs-wrap">#}
{#								<h1 class="breadcrumb-title text-light font-2">لیست وبلاگ</h1>#}
{#								<nav class="transparent">#}
{#									<ol class="breadcrumb p-0">#}
{#										<li class="breadcrumb-item"><a href="#" class="text-light">خانه</a></li>#}
{#										<li class="breadcrumb-item active theme-cl" aria-current="page">لیست وبلاگ</li>#}
{#									</ol>#}
{#								</nav>#}
{#							</div>#}
{##}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</section>#}
			<!-- ============================ Page Title End ================================== -->

			<!-- ============================ post Start ================================== -->
			<section class="min">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h3 class="font-2">آخرین اخبار و <span class="theme-cl">مقالات</span></h3>
								<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">

						<!-- Single Item -->
                        {% for post in posts %}
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="blg_grid_box">
								<div class="blg_grid_thumb">
									<a href="{% url  'blog:post_detail' slug=post.slug %}"><img src="{{ post.cover.url}}" class="img-fluid" alt="" /></a>
								</div>
								<div class="blg_grid_caption">
									<div class="blg_tag" ><span>{{ post.category }}</span></div>
									<div class="blg_title"><h4><a href="{% url  'blog:post_detail' slug=post.slug %}">{{ post.title }}</a></h4></div>
									<div class="blg_desc"><p>{{ post.intro }}</p></div>
								</div>
								<div class="crs_grid_foot">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_tutor">
												<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="{%  static 'assets/img/team-5.jpg' %}" class="img-fluid circle" alt="" /></a></div>
											</div>
										</div>
										<div class="crs_fl_last">
											<div class="foot_list_info">
												<ul>
													<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">10 بازدید</div></li>
													<li><div class="elsio_ic"><i class="fa fa-clock text-warning"></i></div><div class="elsio_tx">
                                                        {{ post.created_at.date }}</div></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        {% endfor %}

					</div>

				</div>
			</section>
			<div class="clearfix"></div>
			<!-- ============================ post End ================================== -->
{% endblock %}